app.solid-convex.com, app.solid-convex.dev {
	import shared_config_web
	header {
		Routed "app"
	}
	reverse_proxy localhost:3016
}

dist.solid-convex.com, dist.solid-convex.dev {
	import shared_config_web
	import shared_config_caching
	header {
		Routed "dist"
	}
	root * /home/david/adaptive/solid-convex/public
	file_server
}

convex.solid-convex.com, convex.solid-convex.dev {
	import shared_config_simple
	header {
		Routed "convex"
	}
	reverse_proxy localhost:3240
}

api.solid-convex.com, api.solid-convex.dev {
	import shared_config_simple
	header {
		Routed "api"
	}
	reverse_proxy localhost:3241
}

dash.solid-convex.com, dash.solid-convex.dev {
	import shared_config_simple
	header {
		Routed "dash"
	}
	reverse_proxy localhost:6793
}
